
#particles-js {
  height:100vh;
}

html , body {
  height:100%;
}

body {
  background: black;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
}


#segunda {
  position:relative;
  background-color:white;
  width:100vw;
  height:100vh;
  z-index:-2;
    mix-blend-mode: difference;
}

#tercera {
  position:relative;
  background-color:red;
  width:100vw;
  height:100vh;
  z-index:-2;
    mix-blend-mode: difference;
}

.code {
  position:absolute;
  width:50%;
  top:0;
  right:0;
  z-index: -1;
  color:white;
}

a:hover {
  text-decoration: none;
}


.show {
  opacity:1 !important;
}

.titulo-segunda {
  font-family:'Montserrat', sans-serif;
  font-size:90px;
  position: absolute;
  font-weight: 100;
  letter-spacing: 10px;
 top: 50%;
 left: 50%;
 /* bring your own prefixes */
 transform: translate(-50%, -50%);
}

.boton {
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
    font-size:30px;
    border:5px solid white;
    padding:15px;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
.contenedor-boton {
position: absolute;
    top:75%;
    left: 0;
    right: 60%;
    margin: auto;
    width: 300px;
    height: 100%;

  }
.logo {
  font-family:'Montserrat', sans-serif;
  font-weight:800;
  font-size:90px;
  position: absolute;
  width:100%;
  margin-left: 10px;
  color:#fff;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
}

img {
  position:absolute;
  right:0;
  bottom:0;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes colors /* Safari and Chrome */
{

0%  {background:#FF9900;}
50%  {background:#6600ff;}
0%  {background:#FF9900;}
/*0%   {background:white;}
50%  {background:black;}
100%  {background:white;}*/
}

body {
  -webkit-animation:colors 100s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
